@import "mixin.scss";

//  1601 - 1920
@media screen and (max-width: 1920px) {
  //  *{color: rosybrown !important;}

// гуд
}

//  1369 - 1600
@media screen and (max-width: 1600px) {
  // *{color: sandybrown !important;}
  // гуд

}


//  961 - 1368
@media screen and (max-width: 1368px) {
  //  *{color: mediumorchid !important;}


  .looking_for .container {
    margin: 0% 10%;


    .looking_for__info {
      justify-content: space-between;
      .looking_for__photo {
        position: relative;
        //max-width: 45%;
        width: 45%;
      }
    }
  }


}

//  961 - 1100
@media screen and (max-width: 1100px) {
  //  *{color: mediumorchid !important;}

  .topMenu {
    flex-direction: column;
    margin: auto 0;
    left: 2%;
    right: 3%;
    max-width: 100%;

    .topMenu__leftBlock {
      width: 80%;
      .logo {
        width: 25%
      }
      .phone {
        width: 75%;
      }
      margin-bottom: 20px;
    }

    .topMenu__rightBlock {
      width: 80%;
      // border: 1px solid red;
    }
    .topMenu__rightBlock ul {
      display: flex;
      justify-content: space-around;
    }
    .topMenu__rightBlock ul li {
      margin-left: 0px;
    }

  }

.best_of{
  .container{
    padding: 4%;
    padding-bottom: 0px;
  }
}


  .pricing__include_boxes {
    margin: 0 4%;
  }

  .download .container {
    padding: 0 5%;
  }




  .best_of__tri_col {
   // border: 1px solid red;
    align-items: stretch;

    & > div {
   //   border: 1px solid blue;
      padding: 5px;

      img{
        height: 56px;
      }

    }
  }


  .footer__top_col_4 li:last-child {
    width: 90%;
    .fa-telegram {
      padding-left: 10%;
      background: none;
    }
  }

}

//  769 - 960
@media screen and (max-width: 960px) {
  //  *{color: grey !important;}

  .best_of__dve_col {
    margin-top: 10%;
  }

  .this_theme .container {
    margin: 0px 7%;
    padding: 100px 0px;
  }

  .built_with .container .built_with__text {
    max-width: 100%;
  }

  .pricing__plane_box p:nth-child(2) {
    font-size: 45px;
    margin-top: 30px;
  }

  .pricing__plane_box {
    width: 235px;
  }

  .pricing__include_boxes div {
    padding: 0% 3%;
  }


}


//  769 - 850
@media screen and (max-width: 850px) {
  //  *{color: grey !important;}

  .best_of__tri_col{
    flex-direction: column;
    align-items: center;

div {
  @include mini_hr();
}

    .best_of__block {
      width: 90%;



      img{
        width: 50px;
        height: 50px;
      }

      h3{
        margin: 15px 0px;
      }
    }

     .best_of__block:nth-child(2) {
      margin: 20px 0px;
    }



  }

}

//  481 - 768
@media screen and (max-width: 768px) {
  //  *{color: yellow !important;}

}

//  321 - 480
@media screen and (max-width: 480px) {
  //  *{color: red !important;}
}

// 281 - 320
@media screen and (max-width: 320px) {
  //  *{color: blue !important;}
  .topMenu__leftBlock {
    flex-direction: column;
    div {
      text-align: center;
    }
    .logo {
      width: 100%
    }
    .phone {
      width: 100%;
      margin-top: 15px;
    }
  }

  .header__text {
    top: 30%;
    text-align: center;
    left: 0%;
  }

}

// До 280
////////////////////////////////////////////////////

@media screen and (max-width: 280px) {
  //  *{color: #fff !important;}
  header {
    min-width: 280px;
    .container {
      min-width: 280px;
      .header__text {
        padding-left: 10px;
        padding-right: 10px;

      }
    }
  }

  .best_of__tri_col {
    display: block;

    .best_of__block {
      //  border: 1px solid red;
      max-width: 260px;
      margin: 0 auto;
      &:nth-child(2) {
        margin: 25px auto;
      }
      h3 {
        margin: 5px 0px;
      }
      img {
        width: 35px;
      }
    }
  }

  .best_of__dve_col {
    max-width: 260px;
    margin: 0 auto;
    margin-top: 25px;

    .best_of__dve_col_line {
      display: block;
      // border: 1px solid red;

      .best_of__block_1 {
        max-width: 100%;
        text-align: center;
        margin-bottom: 25px;

        img, h3 {
          position: relative;
        }

        h3 {
          left: 0;
        }

        p {
          padding-top: 15px;
        }
      }
    }
  }

  .looking_for {
    .container {
      margin: 0 auto;
      max-width: 260px;
      h1 {
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .looking_for__head {

      }
    }
    .looking_for__info {
      display: block;

      div {
        max-width: 100%;
      }
      .looking_for__photo {
        margin: 20px auto;
      }
//adaptiv
    }
  }

  .this_theme {
    .container {
      margin: 0 auto;
      max-width: 260px;
      padding: 10px 0px;
      display: block;

      .this_theme__text {
        width: 100%;

      }

    }
  }

}

////////////////////////////////////////////////////

/*
@media screen and (max-width: 1051px) {
  .topMenu {
    flex-direction: column;
    margin: auto 0;
    left: 2%;
    right: 3%;
    max-width: 100%;
  }
}*/
/*

@media screen and (max-width: 1051px) {
  .topMenu__leftBlock {
    width: 80%;
    .logo {
      width: 25%
    }
    .phone {
      width: 75%;
    }
  }
}
*/

/*@media screen and (max-width: 1051px) {
  .topMenu__rightBlock {
    width: 80%;
   // border: 1px solid red;
  }
  .topMenu__rightBlock ul {
    display: flex;
    justify-content: space-around;
  }
  .topMenu__rightBlock ul li {
    margin-left: 0px;
  }
}*/

@media screen and (max-width: 650px) {
.burger{display: inline-block;}
  .topMenu__rightBlock {
    display: none;
z-index: 100;
    margin-top: -70px;
    ul {
      flex-direction: column;
    }

    ul li {
      background-color: #6a7e7f;
    //  border-radius: 5px;
      text-align: right;
      display: block;
      a {
        display: block;
        margin: 10px;

      }

    }

   ul li:hover {
      a {
        color: #6a7e7f;
        color: #000;
        font-weight: bold;
      }
      background-color: #fff;
      transition: all 0.3s ease;
     border-radius: 5px;

    }


  }

  .burger_visible {
    display: block;
    border: 1px solid blue;
    padding: 10px;
    background: rgba(116, 121, 122, 0.8);
    width: 90%;
    position: absolute;
    top: -10px;
  }

  .topMenu__leftBlock {
    .logo {
      width: 50%
    }
    .phone {
      width: 50%;
    }
  }
}

